[submodule "bundle/FastFold"]
	path = bundle/FastFold
	url = https://github.com/Konfekt/FastFold.git
[submodule "bundle/SimpylFold"]
	path = bundle/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
